<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Вопрос к тесту</title>
  </head>
  <body>
    <% @test.questions.each do |question| %>
      <p><%= question.body %></p>
    <% end %>
  </body>
</html>
