<footer>
<p><% current_year %>, Ivan B.</p><br>
<p>Приложение по тестам - <%= github_url('ivanprofpv', test-guru) %></p><br>
<p>Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/' %>
<p>
</footer>
