<footer>
<div class="card-footer text-muted text-center">
      <p><%= current_year %>, Ivan B.</p>
      <p>Приложение по тестам - <%= github_url("ivanprofpv", "test-guru") %></p>
      <p>Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/' %>
  </div>
</footer>
